.main {
}

.section_title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Roboto Slab";
  font-weight: 700;
  color: #222222;
}

.services {
}

.services_paragraph {
}

.card_wrapper {
}

.card {
}
