.main {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.section_title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #222222;
  margin-bottom: 19px;
}

.services {
  width: 934px;
  margin: 0 auto 119px;
}

.services_paragraph {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab";
  font-style: italic;
  text-align: center;
  margin-bottom: 95px;
}

.card_wrapper {
  display: flex;
  justify-content: space-between;
}

.img_wrapper {
  width: 68px;
  height: 68px;
  border: 3px solid #fed136;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 275px;
}

.image_card {
  width: 40px;
  height: 40px;
}

.card_title {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 18px;
}

.card_paragraph {
  width: 280px;
  height: 58px;
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  font-family: "Roboto Slab";
}

.form_section {
  background-color: #222222;
  padding-bottom: 115px;
  background-image: url("../images/map_icon.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 680px;
}

.section_wrapper {
  padding-top: 110px;
}

.form_wrapper {
  display: flex;
  justify-content: center;
}

.title_form {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffff;
  margin-bottom: 19px;
}

.text_form {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab";
  font-style: italic;
  text-align: center;
  margin-bottom: 75px;
}

.into_form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_wrapper {
}

.questions {
  display: block;
  width: 456px;
  height: 53px;
  text-transform: uppercase;
  font-size: 14px;
  color: #bbbbbb;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  border-radius: 4px;
  padding: 20px 20px;
  margin: 28px 30px;
}

.submit_wrapper {
}

.submit {
  text-transform: uppercase;
  background-color: #fed136;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding: 25px 47px;
  width: 240px;
  height: 66px;
}

.comments {
  width: 456px;
  height: 211px;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: #bbbbbb;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 20px 20px;
}
