.main {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.section_title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #222222;
  margin-bottom: 19px;
}

.services {
  width: 934px;
  margin: 0 auto 119px;
}

.services_paragraph {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab";
  font-style: italic;
  text-align: center;
  margin-bottom: 95px;
}

.card_wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 0 auto;
  width: 68px;
  height: 68px;
  border: 3px solid #fed136;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 28px;
}

.image_card {
  width: 40px;
  height: 40px;
}

.card_title {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 18px;
}

.card_paragraph {
  width: 280px;
  height: 58px;
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  font-family: "Roboto Slab";
}

.form_section {
  background-color: #222222;
  height: 680px;
}

.section_wrapper {
  width: 943px;
  margin: 0 auto;
  padding-top: 111px;
}

.title_form {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffff;
  margin-bottom: 23px;
}

.text_form {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab";
  font-style: italic;
  text-align: center;
  margin-bottom: 75px;
}

.questions {
  display: block;
  width: 456px;
  height: 53px;
  font-size: 14px;
  color: #bbbbbb;
  font-weight: 700;
  font-family: "Montserrat";
}

.submit {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.comments {
  width: 456px;
  height: 211px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #bbbbbb;
  font-weight: 700;
  font-family: "Montserrat";
}
