.header {
  margin-top: 77px;
  margin-bottom: 103px;
  font-family: "Playfair Display";
  display: block;
}

.nav {
  text-align: center;
}

.ul {
  display: inline;
}

.item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  display: inline-block;
  margin-right: 95px;
}

.item:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #626262;
}

.link:hover {
  color: rgb(3, 169, 244);
}
