.main {
}

.team_members {
  padding: 68px 1rem 58px 1rem;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.member_title {
  font-size: 22px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 14px;
}

.card_wrapper {
  margin: 0 auto 29px auto;
}

.card {
  margin: 0 auto 28px auto;
  width: 217px;
}

.card:last-child {
  margin-bottom: 0;
}

.member_photo_wrapper {
  background-image: url("../images/partner1.png");
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  position: relative;
}

.member_photo_wrapper2 {
  background-image: url("../images/partner2.png");
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  position: relative;
}

.member_photo_wrapper3 {
  background-image: url("../images/partner3.png");
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  position: relative;
}

.member_photo_wrapper4 {
  background-image: url("../images/partner4.png");
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  position: relative;
}

.name_of_member {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 16px;
}

.member_bio {
  font-size: 14px;
  color: #666666;
  font-weight: 300;
  font-family: "Roboto";
}

.see_other {
  font-size: 14px;
  color: #ff4e50;
  font-weight: 700;
  font-family: "Montserrat";
  width: 280px;
  height: 40px;
  border: 2px solid #ff4e50;
  border-radius: 40px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
}

.icon_wrapper {
  width: 33px;
  height: 33px;
  background-color: #ff4e50;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon_wrapper2 {
  width: 33px;
  height: 33px;
  background-color: #ffa507;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon_wrapper3 {
  width: 33px;
  height: 33px;
  background-color: #1cd7ad;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon_wrapper4 {
  width: 33px;
  height: 33px;
  background-color: #4e73db;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*//////////////////////////TABLET//////////////////*/
@media screen and (min-width: 768px) {
  .team_members {
    padding: 72px 2rem 58px 2rem;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }

  .member_title {
    margin-bottom: 30px;
  }

  .card_wrapper {
    width: 460px;
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto 39px auto;
  }

  .card {
    margin-bottom: 58px;
  }

  .card:nth-child(2n + 2) {
    margin-bottom: 0;
  }

  .card2 {
    order: 2;
  }

  .card3 {
    order: 1;
  }

  .card4 {
    order: 3;
  }
}

/*/////////////////////////DESKTOP//////////////////*/

@media screen and (min-width: 1440px) {
  .team_members {
    padding: 71px 2rem 72px 2rem;
  }

  .card_wrapper {
    width: 914px;
  }

  .card {
    margin-bottom: 0;
  }
}
